.p1{
    color: rgb(3, 8, 4);
    text-align: center;
    font-weight: bold;
}
.container{
    border: 10px solid red;
    width: 722px;
    background-color: blueviolet;
    margin-left: 357px;
    margin-top: 128px;
}
#p4{
    color: rgb(15, 4, 4);
    text-align: center;
    font-weight: bold;
}
button{
    background-color: rgb(5, 200, 47);
}
.div1{
    position: relative;
    left: 45px;
    background-color: lawngreen;
    width: 115px;
    border: 5px solid red;
    border-radius: 25px;
    height: 125px;
}
.div2{
    position: relative;
    left: 559px;
    bottom: 132px;
    background-color: chartreuse;
    height: 125px;
    width: 115px;
    border: 5px solid red;
    border-radius: 25px;
}

img{
    position: relative;
    bottom: 251px;
    left: 682px;
    width: 88px;
}
body{
    background-color: rgb(7, 10, 10);
}
.p2{
    margin-left: 24px;
}
#count1{
    margin-left: 43px;
}
#bt1{
    margin-left: 20px;
}
.p3{
    margin-left: 30px;
}
#count2{
    margin-left: 51px;
}
#bt2{
    margin-left: 26px;
}
#bt3{
    margin-left: 333px;
    width: 59px;
    position: relative;
    bottom: 60px;
    height: 31px;
    background-color: red;
    border-radius: 10px;
}

.div1:hover{
    background-color: blue;
    transform: scale(1.10);
    box-shadow: 0 0 40px -10px;
}
.div2:hover{
    background-color: blue;
    transform: scale(1.10);
    box-shadow: 0 0 40px -10px;
}